body{
    margin:0px;
}

main{
    padding:10px;
    width:700px;
    margin: auto;
}


@media (min-width: 350px){
    main{
        width:300px;
        background-color: aqua;
        
    }
    div{
        width:100px;
        margin:auto;
    }

    h2{
        margin:auto;
        text-align: center;
    }
    
    p{
        text-align: center;
    }
}


@media (min-width: 450px){
    main{
        width:400px;
        background-color: red;
    }

    div{
        width:210px;
        margin:auto;
    }
}

@media (min-width: 768px){
    main{
        width:700px;
        margin: auto;
        background-color:yellow;
    }
    
    div{
        width:430px;
        margin:auto;
    }
}

@media (min-width: 1024px){
    main{
        background-color:black;
    }
    img{
        height:260px;
        width:200px;
    }

    p{
        font-size: x-large;
        color: #ffffff;
    }

    h2{
        font-size: 100px;
        color: #ffffff;
    }
}

img{
    height:130px;
    width:100px;
    display:inline-block;
}

