
.white-bg {
    background-color: white;
}


.teal-bg {
    background-color: #5AB1BB;
}

.blue-bg {
    background-color: #4D9DE0;
}

.yellow-bg{
    background-color:yellow;
}

.pink-bg{
    background-color: #f4c2c2;
}

.pink2-bg{
    background-color: #DA4167;
}

.green-bg{
    background-color:#4FB477;
}

.orange-bg{
    background-color: #E07A5F;
}

.navy-bg{
    background-color: #3D405B;
}