body{
    margin:0px;
}

header{
    background-color:purple;
    padding:10px;
}

img.nav-logo{
    max-width:100%;
    width:100px;
}

img.toggle-img{
    width:40px;
}

div{
    width:300px;
    margin:auto;
    padding-top:20px;
}

img.MainImg{
    width:300px;
}

input#Toggle{
    display:none;
}

input#Toggle:checked +ul{
    display:block;
}

label[for="Toggle"]{
    float:right;
}

nav ul{
    list-style:none;
    margin:0px;
    padding:20px 0px 0px;
    display:none;
}

nav ul li{
    padding:10px 0px;
    border-bottom:1px solid black;
}

nav ul li:last-child{
    border-bottom:none;
}

nav ul a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}

@media(min-width:768px){

    label[for="Toggle"]{
        display:none;
    }

    nav ul{
        display:block;
        float:right;
        padding:0px;
    }

    nav ul li{
        border:none;
        display:inline-block;
        margin-right:20px;
        padding:10px 0px;
    }

    div{
        width:500px;
        margin:auto;
        padding-top:20px;
    }
    
    img.MainImg{
        width:500px;
    }
}

    @media (min-width: 1024px){

       img.nav-logo{
        max-width:100%;
        width:200px;
    }

    nav ul a {
        font-size:30px;
    }

    nav ul li{
        padding:20px 0px;
    }

    div{
        width:800px;
        margin:auto;
        padding-top:20px;
    }
    
    img.MainImg{
        width:800px;
    }

    }
